th, td {  
    padding: 15px;  
    text-align: left;  
  }  
  table, td, th {    
    border: 1px solid #ddd;  
    text-align: left; 
      
  }  
   th {  
    padding-top: 12px;  
    padding-bottom: 12px;  
    text-align: left;  
    background-color: rgb(17, 100, 175);  
    color: white;  
  }  
  table {  
    border-collapse: collapse;  
    width: 50%;  
      
  }  
  tr:hover {background-color: rgb(100, 123, 136);  
}  