<table  border="1" align='center'width="50"  >  
    <thead >  
      <tr>  
        <th scope="col">Food-Type</th>  
        <th scope="col">Name</th>  
        <th scope="col">Price</th>  
         
      </tr>  
    </thead>  
    <tbody>  
            <tr *ngFor="let p of ngconf">   
              <td>{{p.type}}</td>   
              <td>{{p.name}}</td>   
              <td>{{p.price}}</td> 
                
                 
              </tr>  
              <tr>  
            </tbody>  
          </table>  